/* SVG */
.cls-1,
.cls-10,
.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-4,
.cls-6,
.cls-7,
.cls-8,
.cls-9 {
  fill: none;
}

.cls-1,
.cls-10,
.cls-11,
.cls-12,
.cls-13,
.cls-15,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9 {
  stroke: #060305;
}

.cls-1,
.cls-10,
.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-15,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9 {
  stroke-miterlimit: 10;
}

.cls-1 {
  stroke-width: 2.8px;
}

.cls-2 {
  position: absolute;
}

.cls-2,
.cls-3,
.cls-5 {
  stroke-width: 4px;
}
/* baggrundsfarve på overskriftsboxen */
.cls-3 {
  cursor: pointer;
  z-index: 100;
  fill: #d4d4d4;
}

.cls-4 {
  stroke-width: 3.4px;
}
/* baggrundsfarven på infoboxen */
.cls-5 {
  fill: #708C64;
}
/* connetionlinen */
.cls-6 {
  stroke-width: 3.78px;
}

.cls-7 {
  stroke-width: 3.42px;
}

.cls-8 {
  stroke-width: 4.04px;
}

.cls-9 {
  stroke-width: 3.97px;
}

.cls-10 {
  stroke-width: 3.55px;
}

.cls-11 {
  stroke-width: 4.5px;
}

.cls-12 {
  stroke-width: 4.43px;
}

.cls-13 {
  stroke-width: 3.98px;
}
/* vertical timeline */
.cls-14 {
  stroke: #2f0d00;
  stroke-width: 9px;
}
/* bullets på timeline */
.cls-15 {
  fill: #f8f5f6;
  stroke-width: 2.03px;
}
/* overskriften, font, size og stroke  */
.cls-16 {
  font-size: 18.29px;
  fill: #f8f5f6;
  font-family: MyriadPro-Regular, Myriad Pro;
}


.hidden {
  display: none;
}

/* HTML */
h1 {
  font-size: 1.5em;
}

.svgplaceholder {
  position: absolute;
  margin-top: -3.5vw;
  margin-left: 1vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "title-container title-container title-container title-container" "image-container image-container director-container director-container" "image-container image-container year-container year-container";

  display: inline-block;
  padding: 2vw;
  padding-bottom: 8vw;
  cursor: pointer;

}

.svgplaceholder img {
  width: 25%;
  margin: 5%;
}

/* her skjuler vi indholdet af vores infobox */
.svgplaceholder .link-container,
.svgplaceholder .billede-container,
.svgplaceholder .langbeskrivelse-container {
  visibility: hidden;
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 1;
}

/* her vises indholdet af vores infoboxe */
.svgplaceholder:hover .link-container,
.svgplaceholder:hover .billede-container,
.svgplaceholder .langbeskrivelse-container {
  visibility: visible;
 
}

/*  */
@media screen and (min-width: 580px) {
  .svgplaceholder {
    grid-gap: 4px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 2fr);
  }
}

.title-container {
  grid-area: title-container;
}

.billede-container {
  grid-area: image-container;
}

/* .billede-container img{
  margin-right: 100px;
} */
/* .kortbeskrivelse-container {
  grid-area: director-container;
} */

.langbeskrivelse-container {
  grid-area: director-container;
}

.link-container {
  grid-area: year-container;
}

